// Fonts
$mainFont: 'Poppins', sans-serif; //400 - p, 600 - subheaders, 800 - headers

// Colors
$placeholdersColor: #cccccc; // Form Placeholder
$textColor: #ffffff; // Paragraphs and menu items
$mainColor: #ff4a57;
$bgColor: #1f2235; // Background


// Breakpoints
$breakMd: 768px;
$breakLg: 992px;
$breakXl: 1200px;
$breakXxl: 1400px;
